html {
    scroll-behavior: smooth;
}

body {
    background: #252525;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.m-heading {
    font-family: "Roboto Slab",serif;
}
.text-white {
    color: white;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(1.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.main_row h1{
    font-size: 5rem;
}

.main_row img {
    width: auto;
    height: 100vh;
}